<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/productoslist/create">Crear Producto</a>
      <a mat-list-item routerLink="/admin/productos">Productos</a>
      <a mat-list-item routerLink="/admin/movimientos">Movimientos</a>
      <a mat-list-item routerLink="/admin/linea">Departamento</a>
      <a mat-list-item routerLink="/admin/venta">Venta</a>
        <button mat-list-item (click)="logout()">cerrar</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
       </button>
      <span>{{sucursal}}</span>
      <h4 class="text-empleado">Empleado: {{empleado}}</h4>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="width: 100%; height: 100%; background: white; padding: 0%;"> 
          <div class="container-fluid">
            <br>
              <router-outlet></router-outlet>
          </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
