table {
    width: 100%;
    border-collapse: collapse;
  }
table, th, td {
    border: 1px solid black;
  } 
  th, td {
    padding: 15px;
    text-align: left;
  }
.acciones-button-row {
  width: 100%;
}
.acciones-button-row button { 
  margin: 0.5%;
  padding: 1%;
}
 
.centrado{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
 