<h2 class="text-center">Venta</h2>
<p>
    <mat-form-field appearance="outline">
      <mat-label>Busqueda por CodigoDeBarras</mat-label>
      <input matInput placeholder="Ingrese en codigo" (keyup.enter)="buscarProducto($event)">
       <mat-icon *ngIf="!banderaBuscandoProducto" matSuffix>search</mat-icon>
      <mat-spinner *ngIf="banderaBuscandoProducto" diameter="30" matSuffix ></mat-spinner>
    </mat-form-field>
</p>

<table *ngIf="!banderaAplicandoVenta">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio/Unitario</th>
        <th scope="col">Importe</th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productosVent of productos">
        <th scope="row">
          {{productosVent.id}}
            <button mat-icon-button  color="warn" (click)="removeProducto(productosVent)">
                <mat-icon>delete</mat-icon>
            </button>
        </th>
        <td>{{productosVent.cantidad}}</td>
        <td>{{productosVent.descripcion}}</td> 
        <td>{{productosVent.precio}}</td> 
        <td>{{productosVent.importe}}</td> 
      </tr> 
    </tbody>
    <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>{{totalImporteProductos}}</th>
        </tr>
      </tfoot>
</table>
<section *ngIf="!banderaAplicandoVenta">
  <div class="acciones-button-row">
     <button mat-stroked-button color="primary" (click)="aplicarVenta()">Aplicar Venta</button> 
     <button mat-stroked-button color="primary" (click)="generarNota()">Generar Cotización</button> 

  </div>
</section>

<section *ngIf="banderaAplicandoVenta" >
     <h2 class="text-center">Aplicando Venta....</h2>
     <mat-spinner class="centrado"></mat-spinner>
 </section>

 
 