<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let imagen of images">
      <img [src]="imagen" class="banner-imagen" />
    </div>
  </div>
</div>
