 <h2 class="text-center" *ngIf="!crearNuevo && !addCat">Departamentos</h2>
 <h2 class="text-center" *ngIf="addCat">Agregar categoria al departamento {{departamentoEditar.descripcion}}</h2>
 <button mat-raised-button *ngIf="!crearNuevo && !addCat" (click)="nuevo()">Crear nuevo Departamento</button>
 <div class="row">
    <div class="col-md-6">
      <form [formGroup]="formLinea" *ngIf="crearNuevo || addCat">
        <mat-card>
            <mat-card-content>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                     <mat-form-field>
                        <input placeholder="id" formControlName="id"  matInput type="number">
                     </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs">
                      <mat-form-field appearance="fill">
                          <textarea  placeholder="descripcion"  formControlName="descripcion"  matInput type="text"></textarea>
                      </mat-form-field>                  
                     </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
                <button [disabled]="formLinea.invalid"  mat-raised-button *ngIf="crearNuevo" (click)="save($event)">Guardar</button>
                <button    mat-raised-button color="warn"  (click)="cancelar($event)">Cancelar</button>
                <button  [disabled]="formLinea.invalid" *ngIf="addCat"   mat-raised-button color="primary"  (click)="addSubCategoria($event)">Agregar Categoria</button>
            </mat-card-actions>
        </mat-card>    
    </form>
    </div>
    <div class="col-md-6" *ngIf="addCat">
      <h1>Categorias actualmente</h1>
      <ul>
          <li *ngFor="let cat of departamentoEditar?.categorias; let i = index"> 
            <div class="row">
              <div class="col-md-6">
                <strong>{{i}} {{cat.descripcion}}</strong>
              </div>
              <div class="col-md-6">
                <button mat-icon-button  color="warn" (click)="removeSubcategoria(i, cat.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
           </div>
         </li>
      </ul>
    </div>
 </div>
<br>
<br>
<div class="product-grid">
  <app-categoria *ngFor="let categoria of categorias" [categoria] = "categoria" (eliminadoDepartamento) = "getDepartamentos($event)" (addCategoria)="addCategoria($event)">
  </app-categoria> 
</div>