<form [formGroup]="form" class="registar-form" (ngSubmit)="register($event)">  
    <mat-card>
        <mat-card-header>
          <mat-card-title>Nuevo Empleado</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="mat-form-full-width">
            <input placeholder="Nombre completo" formControlName="username" matInput="" type="text" style="width: 100%;">
          </mat-form-field>
        
          <mat-form-field class="mat-form-full-width">
            <input placeholder="Ejemplo: pat@example.com" formControlName="email" matInput="" type="email">
          </mat-form-field>
  
          <mat-form-field class="mat-form-full-width">
              <input placeholder="password" formControlName="password" matInput="" type="password">
          </mat-form-field>
             
          <mat-form-field>
              <input placeholder="identificar del sucursal" formControlName="sucursalid" matInput="" type="number">
          </mat-form-field>
              
          <mat-chip *ngIf="messageCrearUsuario" color="warn" selected>{{messageCrearUsuario}}</mat-chip>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="form.invalid" mat-raised-button="" type="submit">Registar</button>
        </mat-card-actions>
    </mat-card>
</form>
