<h2 mat-dialog-title>Detalle Movimiento</h2>
<mat-dialog-content class="mat-typography">
  <h3>Estatus: {{estatus}}</h3>
  <h3>Cliente: {{data.movimiento.clienteProveedor}}</h3>
   <table>
    <thead>
        <tr>
          <th>Cantidad</th>
          <th>Producto</th>
          <th>Descripcion</th>
          <th>Precio U.</th>
          <th>Precio</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let detalle of data.movimiento.detallesMov">
               <td>{{detalle.cantidad}}</td>
               <td>{{detalle.producto.id}}</td>
               <td>{{detalle.producto.descripcion}}</td>
               <td>{{detalle.importe}}</td>
               <td>{{detalle.cantidad * detalle.importe}}</td>
         </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>$ {{data.movimiento.total}}</th>
        </tr>
      </tfoot>
   </table>
    <h3>observación</h3>
   <p>{{data.movimiento.observacion}}</p>
    <br>
    <h2>Forma de pago :{{referenciaPago?.formaDePago.nombre}}</h2>
    <p>Descripcion del pago: {{referenciaPago?.descripcionPago}}</p>
    <img *ngIf="referenciaPago?.formaDePago.nombre != 'Pago Efectivo'" [src]="comprobantePago" alt="comprobante de pago" width="60%">
 </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-raised-button color="warn" *ngIf="estatus=='PAGADO'">Rechazar pago</button>
  <button mat-raised-button color="primary" *ngIf="estatus=='PAGADO'" (click)="updateStatus('EN_CAMINO')">Aprobar pago</button>
  <button mat-raised-button *ngIf="estatus=='EN_CAMINO'" (click)="updateStatus('ENTREGADO')">Entregado</button>
 </mat-dialog-actions>
