.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
   }
   
  
  .example-large-box {
    height: 350px;
    width: 300px;
  }

  .btn-regristrarse{
    background: green;
    color: white;
    width: 100%;
  }