<mat-card class="card-login">
  <form [formGroup]="formlogin" (ngSubmit)="login($event)">
            <mat-card-header>
              <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: center;">
              <div class="row">
                <div class="col-xs-12">
                  <mat-form-field>
                    <input placeholder="email" formControlName="email" matInput="" type="email">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <mat-form-field>
                    <input placeholder="password" formControlName="password" matInput="" type="password">
                  </mat-form-field>
                </div>
              </div>
             </mat-card-content>
            <mat-card-actions style="text-align: center;">
               <button [disabled]="formlogin.invalid" mat-stroked-button color="primary" type="submit">Iniciar sesion</button>
              <button  mat-stroked-button color="warn" >Salir</button>
            </mat-card-actions>
  </form>
</mat-card>


 