
   <ul *ngIf="visibleFormaDePago===true" style="text-align: center;">
        <p style="text-align: center;">Seleccione la <em>{{title}}</em></p>
        <button *ngFor="let formadePago of formasDePagos" class="row li-formas-de-pago" mat-stroked-button color="primary" (click)="getReferanciaDePago(formadePago)">
            <div >
                <p>{{formadePago.nombre}} </p>
             </div>
        </button>
   </ul>
   <ul *ngIf="visibleReferenciaPago" style="text-align: center;">
     <button mat-stroked-button (click)="regresarFormaDePago()">Elegir otra Forma de Pago</button>   
     <mat-radio-group  
              class="referencia-radio-group">
          <mat-radio-button  *ngFor="let referenciaDePago of referenciasDePago" [value]="referenciaDePago.id" (click)="referenciaSeleccionado(referenciaDePago)" > 
               <p>{{referenciaDePago.decripcion}}</p><p>{{referenciaDePago.numeroCuenta}}</p>
               <div *ngIf="referenciaDePago.numeroCuenta==='Digite la cantidad'">
                    <mat-form-field appearance="fill">
                         <mat-label></mat-label>
                         <input matInput type="number" class="example-right-align"  [(ngModel)]="otracantidad">
                         <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
               </div>
          </mat-radio-button>
     </mat-radio-group>
   </ul>