.li-formas-de-pago{
    width: 100%;
    height: 200%;  
    margin: 5px;  
}

button:active{
    background: blue;
    color: #ffffff;
}

.referencia-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
.referencia-radio-button {
    margin: 5px; 
  }

mat-radio-outer-circle{
    background: indigo;
}
 
mat-radio-outer-circle {
    border-color: indigo;
}