 
 <mat-card class="departamento-card">
  <mat-card-header>
    <div mat-card-avatar class="departamento-header-image"></div>
    <mat-card-title>{{categoria.descripcion}}</mat-card-title>
    <mat-card-subtitle>{{categoria.categorias.length}}</mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>Sub Categorias</p>
      <ul>
          <li *ngFor="let subCategorias of categoria.categorias">
             <div class="row">
                <div class="col-md-6">
                  <strong> {{subCategorias.descripcion}}</strong>
                </div>
                <div class="col-md-6"> 
                </div>
             </div>

           </li>
      </ul>
  </mat-card-content>
  <mat-card-actions>
     <button mat-raised-button color="primary" (click)="addCategorias(categoria)">Editar</button>
     <button mat-raised-button color="warn" (click)="deleteDepartamento(categoria.id)" *ngIf="!categoria.categorias.length">Eliminar</button>
   </mat-card-actions>
</mat-card>