<ng-container
  *ngIf="sucursales; then conSucursal; else sinSucursal"
></ng-container>

<ng-template #conSucursal>
  <div class="product-grid">
    <app-sucursal *ngFor="let sucursal of sucursales" [sucursal]="sucursal">
    </app-sucursal>
  </div>
</ng-template>
<ng-template #sinSucursal>
  <mat-card>
    <mat-card-content>
      <h3 class="example-h2">Cargando tiendas</h3>
      <mat-progress-spinner
        class="example-margin"
        color="primary"
        mode="indeterminate"
        [value]="value"
      >
      </mat-progress-spinner>
    </mat-card-content>
  </mat-card>
</ng-template>
