<div style="margin: 0;">
    <div style="background: #0f6b99;  height: 50px;width: 100%; text-align: center; color: white; padding: 1%;" >
         <h3>Registros/login de empleados</h3>
    </div>
    <div class="container" style="flex: 1">
      <router-outlet></router-outlet>
    </div> 
</div>
  