<form [formGroup]="formDatosEnvio" (ngSubmit)="asignarDatos($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Datos de envio</mat-card-title>
      <mat-card-subtitle>ingresar datos correctos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="form-cliente">
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Cliente"
          formControlName="cliente"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Telefonso contacto"
          formControlName="telefono"
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Direccion completo"
          formControlName="direccion"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Referencia"
          formControlName="referencia"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="formDatosEnvio.invalid"
        mat-raised-button
        type="submit"
      >
        Next
      </button>
    </mat-card-actions>
  </mat-card>
</form>
