<button mat-raised-button routerLink="/admin/productoslist/create">Crear nuevo producto</button>
<br><br>
<!--Filtros-->
<div>
    <mat-checkbox class="input-filtro" [(ngModel)]="checkedProductosActivos">Productos Activo</mat-checkbox>
    <mat-checkbox class="input-filtro" [(ngModel)]="checkedVisibleProductoEnTiendaOnline">Solo Tienda Online</mat-checkbox>
    <mat-form-field class="input-filtro">
      <mat-label>Tipo de Busqueda</mat-label>
      <mat-select [(ngModel)] = "selectTipoBusqueda">
        <mat-option value="nombre">Nombre</mat-option>
        <mat-option value="departamento">Departamentos</mat-option>
        <mat-option value="ninguno">Ninguno</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline"  *ngIf="selectTipoBusqueda=='nombre'" class="input-filtro" style="width: 35%;">
      <mat-label>Producto</mat-label>
      <input matInput placeholder="Ingrese el nombre del producto" [(ngModel)] = "nombreProductoBuscar">
    </mat-form-field>

    <mat-form-field *ngIf="selectTipoBusqueda=='departamento'" class="input-filtro">
      <mat-select placeholder="Departamentos" [(ngModel)] ="selectCategoria"> 
        <mat-optgroup *ngFor="let categoria of categorias" [label]="categoria.descripcion" [disabled]="">
          <mat-option *ngFor="let cat of categoria.categorias" [value]="cat" >
            {{cat.descripcion}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field> 

    <button mat-stroked-button color="primary" (click) ="fetchProducto()"> {{(!banderaBuscandoProducto) ? 'Buscar' : ''}}
        <mat-icon *ngIf="!banderaBuscandoProducto" matSuffix>search</mat-icon>
        <mat-spinner *ngIf="banderaBuscandoProducto" diameter="20" matSuffix ></mat-spinner>
    </button>
</div>
<!--End Filtro-->

<table mat-table [dataSource]="productos">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let producto"> {{producto.id}}</td>
      </ng-container>
      <ng-container matColumnDef="codigoBarras">
        <th mat-header-cell *matHeaderCellDef> codigoBarras </th>
        <td mat-cell *matCellDef="let producto"> {{producto.codigoBarras}}</td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> TITLE </th>
        <td mat-cell *matCellDef="let producto"> {{producto.nombre}}</td>
      </ng-container>
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> PRECIO </th>
        <td mat-cell *matCellDef="let producto"> {{producto.precio}}</td>
      </ng-container>
      <ng-container matColumnDef="visiblePage">
        <th mat-header-cell *matHeaderCellDef>Tienda Online </th>
        <td mat-cell *matCellDef="let producto"> {{(producto.visiblePage)? 'SI': 'NO'}}</td>
      </ng-container>
      <ng-container matColumnDef="existencias">
        <th mat-header-cell *matHeaderCellDef>EXISTENCIA </th>
        <td mat-cell *matCellDef="let producto"> {{producto.existencias}}</td>
      </ng-container>
      <ng-container matColumnDef="apartado">
        <th mat-header-cell *matHeaderCellDef>APARTADO </th>
        <td mat-cell *matCellDef="let producto"> {{producto.apartado}}</td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
        <td mat-cell *matCellDef="let producto"> 
            <button mat-raised-button [routerLink]="['/admin/productoslist/create',producto.id]">Editar</button>
            <button mat-raised-button color="warn" (click)="deleteProducto(producto.id)">Eliminar</button>
        </td>
       </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

 </table>
 <mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPaginateChange($event)"
  >
</mat-paginator>
