<span class="example-pizza-party" style="height: 10px; padding: 0px;">
    <div  style="background:blue; height: 80px; width: 400px; margin: -15px; text-align: center; padding-top: 15px;">
        <br>
        <p>Se agrego un producto al carrito<p>
        
    </div>
</span>