<p>{{data.title}}</p>
<h1 mat-dialog-title> </h1>
<div mat-dialog-content>
 <ul>
    <li *ngFor="let referenciapago of data.refenciaDePago" style="list-style: none;">
        <div class="row">
            {{referenciapago.formaDePago.nombre}}
        </div>
        <div class="row"> 
            {{referenciapago.descripcionPago}}
        </div>
        <div class="row" *ngIf="referenciapago.comprobantePago!='0'">
             Comprobante de pago
            <img   [src]="referenciapago.comprobantePago" alt="" width="100px" >
        </div>
  </li> 
 </ul>
 <div class="row">
    <div class="col-sm">
        <label>Seleccionar comprobante</label>
       <input type="file" (change)="updateFaile($event)" mat-stroked-button>  
       <img *ngIf="(imagen$ | async) as image " [src]="image" alt="" width="100px" >
    </div>
</div>

<div class="row" style="margin-top: 10px;">
    <div class="col-sm">
        <button mat-stroked-button (click)="abjuntarArchivo()">Enviar comprobante</button>
    </div>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>