<div mat-dialog-content >
   <div *ngIf="login">
    <p>Iniciando sesión</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> 
   <p *ngIf="!login" style="font-size: 18px;">{{(typeLogin.length>1)? 'Elige una de las siguientes opciones e inicia sesión':'Iniciar sesión con '+typeLogin[0].name}} </p>
   <ul *ngIf="!login" style="text-align: center; padding: 0;">
    <li *ngFor="let login of typeLogin" style="list-style:none; font-size:12px;" (click)="autentificacion(login.name)">
      <button mat-raised-button style="width:200px; margin: 4px;" color="{{login.color}}">
        <mat-icon>{{login.icono}}</mat-icon>
        {{login.name}}
      </button>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button *ngIf="!login" mat-button  (click) ="onNoClick()">Cerrar</button>
</div> 