.form-search {
    padding: 0%;
    margin:0%;
    font-size: 12px;
}

.full-width {
    width: 100%;
} 

form {
 margin: 0px;
 padding: 0p;
} 

.mat-option{
     color:#007aff
}

.mat-option:hover{
    background:#007aff;
    color:white;
}

.mat-optgroup{
    background: red($color: #000000);
}