<form 
  [formGroup]="fromBusqueda"
  class="form-search"
  (ngSubmit)="btnbuscarPorNombre($event)"
>
  <div class="row">
    
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
      <mat-form-field class="full-width">
        <mat-label><mat-icon>list</mat-icon> DEPARTAMENTOS</mat-label>
        <mat-select [formControl]="categoriaControl">
          <mat-optgroup  class="mat-optgroup"
            *ngFor="let categoria of categorias"
            [label]="categoria.descripcion"
            
          >
            <mat-option class="mat-option"
              *ngFor="let categoria of categoria.categorias"
              [value]="categoria.id"
              (click)="fetchByCategoriaIdAndStatus(categoria.id, 0)"
            >
              {{ categoria.descripcion }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4" style="padding: 9px;margin-left: 8px;">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Hola, ¿Que te gustaria comprar hoy?</mat-label>
        <input
          matInput
          formControlName="inputBusqueda"
          type="text"
          placeholder="Buscar por nombres"
        />
      </mat-form-field>
    </div>
    <div class="col-xs-2" style="padding: 0px;margin:13px">
      <button
        mat-stroked-button 
        color="primary"
        type="submit"
        [disabled]="fromBusqueda.invalid"
      >
        <mat-icon matPrefix>search</mat-icon>
      </button>
    </div>
  </div>
</form>

<app-banner></app-banner>

<ng-container
  *ngIf="productos; then conProductos; else sinProductos"
></ng-container>
<ng-template #conProductos>
  <p *ngIf="mensageFechtProductos">{{ mensageFechtProductos }}</p>
  <div class="product-grid">
    <app-producto
      *ngFor="let producto of productos"
      (productoClicked)="clickProducto($event)"
      [producto]="producto"
    >
    </app-producto>
  </div>
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPaginateChange($event)"
  >
  </mat-paginator>
</ng-template>
<ng-template #sinProductos>
  <mat-card>
    <mat-card-content>
      <h3 class="example-h2">Cargando productos....</h3>
      <mat-progress-spinner  
        class="centrado"
        color="primary"
        mode="indeterminate"
        [value]="value"
      >
      </mat-progress-spinner>
    </mat-card-content>
  </mat-card>
</ng-template>
