.image {
  width: 50%;
}
.btn-finalizarcompra{
   background: green;
   color: white;
}
.card-carrito{
  width: 100%;
  justify-content: center;
}

th,
td {
  padding: 5px;
  font-size: 12px;
}

@media screen and (max-width: 320px) {
  table {
    display: block;
    overflow-x: auto;
  }
}
@media screen and (max-width: 576px) {
  table {
    display: block;
    overflow-x: auto;
  }
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

form-cliente {
  display: flex;
  flex-direction: column;
}

.form-cliente > * {
  width: 100%;
}
