
<div *ngIf="producto$ | async as productosorden">
<div *ngIf="productosorden.length<=0 && logeado$ | async">
    <h4>No hay productos en el carrito de compras</h4>
    <a mat-raised-button routerLink="/productos" routerLinkActive="active" color="primary">Ir a buscar un producto</a>
</div>
<div *ngIf="!(logeado$ | async)">
    <h4>Para realizar compras es necesio estar registrado para que puedas ver el status de sus pedidos, ir al menu de cuenta</h4>
</div> 
<mat-horizontal-stepper linear #stepper *ngIf="productosorden.length>0 && (logeado$ | async)">
  <mat-step>
      <ng-template matStepLabel>Productos</ng-template>

        <!--Card carrito de compra-->
        <mat-card class="card-carrito">
          <mat-card-header>
            <div mat-card-avatar><mat-icon>shopping_cart</mat-icon></div>
            <mat-card-title>Carrito de compras</mat-card-title>
            <mat-card-subtitle>Lista de produtos</mat-card-subtitle>
          </mat-card-header>
          <table class="table" >
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="58%">
            <col width="15%">
            <col width="20%">
            <thead style="background: rgb(56, 91, 156); color: white;">
              <td></td>
              <td></td>
              <th>Cant.</th>
              <th>Producto</th>
              <th>Precio/U</th>
              <th>Total</th>
            </thead>
            <tfoot>
              <tr>
                <td colspan="5" style="text-align: right;">Total</td>
                <td>{{ total | currency }}</td>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let producto of productosorden; let i = index">
                <td>
                  <button style="width: 20px; height: 20px;"
                    mat-mini-fab 
                    color="warn"
                    (click)="deleteProducto(producto)"
                  >
                  <mat-icon style="margin-top:-3px; margin-left: -2px;">maximize</mat-icon>
                  </button>
                </td>
                <td>
                  <button style="width: 20px; height: 20px; background: green;"
                    mat-mini-fab 
                    (click)="addProducto(producto)"
                  >
                  <mat-icon style="margin-top:-18px; margin-left: -2px;">add</mat-icon>
                  </button>
                </td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio | currency }}</td>
                <td>{{ producto.precio*producto.cantidad | currency }}</td>
              </tr>
            </tbody>
          </table>
           <mat-card-content>
            <p>
              Todos los productos que sean comprandos por esta plataforma solo son entregas a domicilio en el comunidad de Yutandunchi de Guerrero
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/">Elegir más productos</a>
            <button class="btn-finalizarcompra"
            mat-stroked-button
            matStepperNext
           (click)="clickRellenarDatos()"
          >
          Finalizar Compra
          </button>
          </mat-card-actions>
        </mat-card>
        <!--fin card carrito de compra-->
   </mat-step>
  <mat-step >
   <ng-template matStepLabel>Datos del cliente</ng-template>
    <form [formGroup]="formDatoscliente">
      <mat-card>
          <mat-card-header>
            <mat-card-title>Datos de envío</mat-card-title>
            <mat-card-subtitle>Ingresar datos de la persona quien recibirá el pedido</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="form-cliente">
            <mat-form-field>
                <input
                  type="text"
                  matInput
                  placeholder="Nombre completo"
                  formControlName="cliente"
                />
              </mat-form-field>
              <mat-form-field>
                  <input
                    type="email"
                    matInput
                    placeholder="Correo electronico"
                    formControlName="correo"
                  />
                </mat-form-field>
              <mat-form-field>
                <input
                  type="text"
                  matInput
                  placeholder="Celular contacto"
                  formControlName="celular"
                />
              </mat-form-field>
              <mat-form-field>
                <textarea
                  matInput
                  placeholder="Dirección completa"
                  formControlName="direccion"
                ></textarea>
              </mat-form-field>
              <mat-form-field>
                <textarea
                  matInput
                  placeholder="Referencia, que nos facilite encontrar su domicilio"
                  formControlName="referencia"
                ></textarea>
              </mat-form-field>
            <div>

            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button matStepperPrevious color="primary">Carrito de compras</button>
            <button
              [disabled]="formDatoscliente.invalid"
              mat-stroked-button
              matStepperNext
              color="primary"
            >
              Continuar
            </button>
          </mat-card-actions>
        </mat-card>
    </form>
  </mat-step>
  <mat-step [editable]="false" style="margin: 1px;">
    <ng-template matStepLabel>Forma de pago</ng-template>
     <app-formas-de-pagos [title]="titleFormaDePago" (referenciaSeleccionadoEvent)="receiveMessage($event)"></app-formas-de-pagos>
     <div style="text-align: center;">
       <button *ngIf="btnFinalizar" mat-raised-button class="btn-finalizarcompra" (click)="aplicarCompra()">Aplicar compra</button>
     </div>
    <div style="text-align: center;">
      <button mat-stroked-button matStepperPrevious >Datos de envío</button> 
      <button mat-stroked-button (click)="stepper.reset()"  >Carrito de compras</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>
