<form [formGroup]="form" (ngSubmit)="(buttonSave)? saveProducto($event) : updateProducto($event) ">
  <mat-card>
     <mat-card-header>
        <mat-card-title>Productos</mat-card-title>
     </mat-card-header>
     <mat-card-content>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
               <mat-form-field>
                  <input placeholder="id" formControlName="id"  matInput type="number">
               </mat-form-field>
            </div>
          </div>
         <div class="row">
            <div class="col-xs">
              <mat-form-field style="width: 100%;">
                  <input placeholder="codigoBarras"  formControlName="codigoBarras"  style="text-transform: uppercase" matInput type="text">
               </mat-form-field>               
            </div>
          </div>
          <div class="row">
            <div class="col-xs">
              <mat-form-field style="width: 100%;">
                  <input placeholder="nombre"  formControlName="nombre"  style="text-transform: uppercase" matInput type="text">
               </mat-form-field>               
            </div>
          </div>
          <div class="row">
            <div class="col-xs">
              <mat-form-field style="width: 100%;">
                  <input placeholder="Palabra claves para su busqueda"  formControlName="palabrasClave"  style="text-transform: uppercase" matInput type="text">
               </mat-form-field>               
            </div>
          </div>
          
          <div class="row">
             <div class="col-xs">
                <mat-form-field>
                    <input placeholder="precio" formControlName="precio" matInput type="number">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field> 
                  <div *ngIf="priceField.errors && priceField.dirty">
                    <p *ngIf="priceField.hasError('price_invalid')">Esto no es valido</p>  
                    <p *ngIf="priceField.hasError('required')">Este campo es requerido</p>                              
                  </div>   
             </div>
          </div>
          <div class="row">
            <div class="col-xs">
               <mat-form-field>
                   <input placeholder="costo" formControlName="costo" matInput type="number">
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>   
            </div>
         </div>
         <div class="row">
              <div class="col-xs">
                <mat-form-field style="width: 100%; height: 100%; text-transform: uppercase;"  appearance="fill">
                    <textarea  placeholder="descripcion"  formControlName="descripcion" style="text-transform: uppercase; height: 100px;"  matInput type="text"></textarea>
                </mat-form-field>                  
               </div>
        </div>
        <div class="row">
         <div class="col-xs">
            <mat-form-field>
               <mat-select placeholder="categoria" formControlName="categoria" [(value)]="selectedCategoria" required> 
                 <mat-optgroup *ngFor="let categoria of categorias" [label]="categoria.descripcion" [disabled]="">
                   <mat-option *ngFor="let cat of categoria.categorias" [value]="cat" >
                     {{cat.descripcion}}
                   </mat-option>
                 </mat-optgroup>
               </mat-select>
             </mat-form-field>                
          </div>
       </div>

       <div class="row">
          <div class="col-md">
           <mat-form-field appearance="fill">
                <mat-select placeholder="unidad  Medida" formControlName="unidadMedida"  [(value)]="selectedUnidad" required>
                   <mat-option *ngFor="let unidad of unidades"  [value]="unidad" >
                     {{unidad.descripcion}}
                  </mat-option>
                </mat-select>
           </mat-form-field>
          </div>
       </div>
       <div class="row">
         <div class="col-xs">
            <mat-form-field>
                <input placeholder="Existencias" formControlName="existencias" matInput type="number">
               <span matPrefix>$&nbsp;</span>
             </mat-form-field>   
         </div>
      </div>

       <div class="row">
            <div class="col-md">
               <input type="file" (change)="updateFaile($event)">  
               <img *ngIf="((imagen$ | async) || imagenEditar) as image " [src]="image" alt="" width="100px" >
            </div>
        </div>
        <br>
        <div class="row">
         <div class="col-md">
            <label>Vender en la página</label>
             <input type="checkbox"   formControlName="visiblePage"  />
          </div>
      </div>
      <br>
      <div class="row">
         <div class="col-md">
            <label>Estatus Producto</label>
             <input type="checkbox"   formControlName="status"  />
          </div>
      </div>
     </mat-card-content>
     <mat-card-actions>
       <button [disabled]="form.invalid" *ngIf="buttonSave" mat-raised-button type="submit">Guardar</button>
       <button [disabled]="form.invalid" *ngIf="buttonUpdate" mat-raised-button type="submit">Actualizar</button>
     </mat-card-actions>
  </mat-card>
</form>