<table mat-table [dataSource]="movimientos">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let movimientos"> {{movimientos.id}}</td>
      </ng-container>
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef> FECHA </th>
        <td mat-cell *matCellDef="let movimientos"> {{ movimientos.dateCreated | date: "yyyy-MM-dd hh:mm:ss aa" }}</td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> DESCRIPCION </th>
        <td mat-cell *matCellDef="let movimientos"> {{movimientos.descripcion}}</td>
      </ng-container>
      <ng-container matColumnDef="system">
        <th mat-header-cell *matHeaderCellDef> SYSTEM </th>
        <td mat-cell *matCellDef="let movimientos"> {{movimientos.system}}</td>
      </ng-container>
      <ng-container matColumnDef="clienteProveedor">
        <th mat-header-cell *matHeaderCellDef> CLIENTE </th>
        <td mat-cell *matCellDef="let movimientos"> {{movimientos.clienteProveedor}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> STATUS </th>
        <td mat-cell *matCellDef="let movimientos"> {{movimientos.status}}</td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
        <td mat-cell *matCellDef="let movimientos"> 
            <button mat-raised-button (click)="openDialog(movimientos)">Editar</button>
            <button mat-raised-button color="warn" >Cancelar</button>
        </td>
       </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>
 <mat-paginator
 [length]="length"
 [pageSize]="pageSize"
 [pageSizeOptions]="pageSizeOptions"
 (page)="onPaginateChange($event)"
 >
</mat-paginator>