.card-detalle {
    max-width: 400px;
  }

.btn-agregar-carrito{
    font-size: 12px;
    background: white;
    color: #3F51B5;
  } 
.btn-agregar-carrito:hover{
    background: #3F51B5;
    color: white;
  }

  .a-detalle{
    margin: 10px;
    font-size: 12px;
  }
  
  .btn-comprar{
    margin-top: 5px;
    width: 220px;
    color: white;
    background: green;
  }
  .btn-comprar:hover{ 
    color: green;
    background: white;
  }
  .mat-card-action{
    text-align: center;
  }