<div class="row " *ngIf="producto">
    <div class="col-sm">
            <mat-card class="card-detalle">
                     <mat-card-header>
                      <mat-card-title>Producto : {{producto.nombre}}</mat-card-title>
                      <mat-card-subtitle>Precio : {{producto.precio | currency}}  {{producto.unidadMedida.clave}}</mat-card-subtitle>
                      <mat-card-subtitle>Categoria : {{producto.categoria.descripcion}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="producto.imagen" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>Descripcion:</p>
                      <p>{{producto.descripcion}}</p>
                    </mat-card-content>
                    <mat-card-actions class="mat-card-action">
                      <button class="btn-agregar-carrito" mat-stroked-button color="primary" (click)="addCart()">Agregar al carrito</button>
                      <a [routerLink]="['/']" class="a-detalle">Elegir más productos</a>
                      <button (click)="comprar()" class="btn-comprar" mat-stroked-button>
                        COMPRAR 
                      </button>
                    </mat-card-actions>
            </mat-card>
    </div>
    <div class="col-sm">
            <mat-card class="card-detalle">
                     <mat-card-header>
                      <mat-card-title>Vendendor : {{producto.sucursal.nombre}}</mat-card-title>
                      <mat-card-subtitle>Contacto : {{producto.sucursal.contacto}}</mat-card-subtitle>
                     </mat-card-header>
                    <img mat-card-image [src]="producto.sucursal.logo" alt="Logo vendedor">
                    <mat-card-content>
                      <p>Descripcion:</p>
                      <p>{{producto.sucursal.descripcion}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button color="primary" routerLink="/">Seguir Comprando</button>
                    </mat-card-actions>
            </mat-card>
    </div>
</div>
 