.banner-imagen {
  width: 100%;
  height: 150px;
}

@media (min-width: 1200px) {
  .banner-imagen {
    width: 100%;
    height: 350px;
  }
}

footer {
  text-align: center;
  width: 100%;
  padding: 50px 0px;
  margin-top: 20px;
  align-self: flex-end;
  background:#358FDB;
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .box {
    input {
      color: white;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        margin: 10px 0px;
        a {
          text-decoration: none;
          font-family: Roboto, "Helvetica Neue", sans-serif;
          color: white;
        }
      }
    }
  }
}

h3 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

