<div class="container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let imagen of images">
        <img [src]="imagen" class="banner-imagen" />
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <p>Productos</p>
          <ul>
            <li>
              <a routerLink="/productos">Nuevos Productos</a>
            </li>
            <!-- <li>
                <a routerLink="/productos" [queryParams]="{ type: 'offer' }"
                  >En oferta</a
                >
              </li>-->
            <!--<li>
                <a routerLink="/productos"
                  >Últimos productos</a
                >
              </li>-->
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <p>Acerca de Ventas Curiel</p>
          <ul>
            <!--<li><a routerLink="/about-us">Sobre nosotros</a></li>-->
            <li><a routerLink="/sucursal">Nuestras tiendas</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <p> <em>Contactanos por:</em></p>
        <div class="box">
          <ul>
            <li>
              <a href="https://www.facebook.com/profile.php?id=100012998711771"
                >Faceboock</a
              >
            </li>
          </ul>
        </div>

        <!-- <div class="box">https://www.facebook.com/profile.php?id=100012998711771
            <h3>Contacto</h3>
            <mat-form-field>
             <input matInput placeholder="Digite su correo" [formControl]="emailField" type="email">
            </mat-form-field>
            <button mat-raised-button [disabled]="emailField.invalid" (click)="sendMail()">enviar</button>
          </div>
          -->
      </div>
    </div>
  </div>
</footer>
