 


/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
}
//container layout
.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
/* se ordenas las imagenes de los productos*/
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 10px;
}

@media (min-width: 576px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 10px;
  }
  .container {
    width: 1110px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (min-width: 1200px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px 10px;
  }
  .container {
    width: 1200px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
