nav > a {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-size: 12px;
}

nav > a.active{
  background-color:#358FDB;
}
.header-row {
 width: 100%;
}

.color {
  background-color: #358FDB;
  color: white;
}
