<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <a mat-button routerLink="/productos" routerLinkActive="active"
          >Productos</a
        > 
        <a
          mat-button 
          (click)="openModaLogin()"
          *ngIf="!(logeado$ | async)"
          routerLinkActive="active"
          ><mat-icon>person</mat-icon>Cuenta</a
        >
        <a
          mat-button
          routerLink="/perfil"
          *ngIf="logeado$ | async"
          routerLinkActive="active"
          ><mat-icon>person</mat-icon>Perfil</a
        >
      </nav>
      <a
        routerLink="/order"
        mat-raised-button
        [matBadge]="(total$ | async).toString()"
        matBadgeColor="warn"
       >
        <mat-icon>shopping_cart</mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
