<p>{{data.title}}</p>
<h1 mat-dialog-title>Numero de compra #{{data.movimiento.id}}</h1>
<div mat-dialog-content>
  <p>Para ver el detalle de la compra ir a su perfil en el menú de compras</p>
  <!--<a routerLink="/perfil" class="a-detalle">ir al Detalle de la compra</a>-->
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>