   <mat-card *ngIf="usuarioLogin">
    <mat-card-header>
      <img mat-card-avatar src="{{avatar}}" alt="Photo of a Shiba Inu">
       <mat-card-title>
       {{usuarioLogin}}
       </mat-card-title>
      <mat-card-subtitle>{{correoLogin}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image height="6px" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Bienvenido a la plataforma donde podras comprar productos de la comunidad de yutanduchi de guerrero.
      </p>
      <!--begin acorden-->
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Compras
            </mat-panel-title>
            <mat-panel-description>
              Todas las compras
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <ol style="margin: 0px; padding: 0px;">
              <li
                *ngFor="let movimiento of movimientos"
                style="background: #f3f3f3; "
              >
                <p><strong>Compra #{{ movimiento.id }} Estatus: {{ movimiento.status }}</strong></p>
                <p>
                  Fecha compra:{{ movimiento.dateCreated | date: "yyyy-MM-dd hh:mm:ss aa" }}
                </p> 
                <p>Lista de producto</p>
                <!--TABLA PRODUCTOS-->
                <table class="table" >
                  <col width="5%">
                  <col width="58%">
                  <col width="15%">
                  <col width="20%">
                  <thead style="background: rgb(56, 91, 156); color: white; font-size: 12s;">
                    <th>Cant.</th>
                    <th>Producto</th>
                    <th>Precio/U</th>
                    <th>Total</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let producto of movimiento.detallesMov; let i = index">
                      <td>{{ producto.cantidad }}</td>
                      <td>{{ producto.producto.nombre}}</td>
                      <td>{{ producto.importe | currency }}</td>
                      <td>{{ producto.importe*producto.cantidad | currency }}</td>
                    </tr>
                  </tbody>
                </table>
                <!--END TABLA PRODUCTOS-->
                <h4>Total compra: {{ movimiento.total | currency}}</h4>
                <button (click)="fecthFormaDePagoPorMovimiento(movimiento.id)" mat-stroked-button color="primary">Referencia de pago</button>
      
                <p>Referencia: {{ movimiento.observacion }}</p>
                <button *ngIf="movimiento.status=='PROCESO'" (click)="cancelarCompra(movimiento.id)" mat-stroked-button color="warn">Cancelar compra</button>
              </li>
            </ol>
          </div>
          <p *ngIf="movimientos.length <= 0">No hay realizado ninguna compra</p>
        </mat-expansion-panel>
      </mat-accordion>
      <!--end acordion-->
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="warn" (click)="logout()">Cerrar sesión</button>
      <a mat-button routerLink="/productos">Seguir comprando</a>
     </mat-card-actions>
  </mat-card>
 




 
