<mat-card>
  <mat-card-header>
    <mat-card-subtitle>
      {{ producto.nombre }} 
    </mat-card-subtitle>
    <mat-card-title style="color:#358FDB ">
      {{ producto.precio | currency }} 
    </mat-card-title>
  </mat-card-header>
  <div class="crop-imagen">
    <img [src]="producto.imagen" alt="foto producto"  [routerLink]="['/productos', producto.id]"/>
  </div>
  <mat-card-actions class="mat-card-action">
    <button (click)="addCart()" class="btn-agregar-carrito" mat-stroked-button color="primary">
      Agregar al carrito  
    </button>
    <a [routerLink]="['/productos', producto.id]" class="a-detalle">Detalle</a>
    <button (click)="comprar()" class="btn-comprar" mat-stroked-button>
      COMPRAR 
    </button>
  </mat-card-actions>
</mat-card>