/*:host{
    margin: 2px;
    border:1px solid black ;
    border-radius: 5px;
    display: block;
} 
*/ 
mat-card{
  width: 85%;
}
.crop-imagen {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%; 
}
}
.btn-agregar-carrito{
  font-size: 12px;
  background: white;
  color: #3F51B5;
} 
.btn-agregar-carrito:hover{
  background: #3F51B5;
  color: white;
}
.a-detalle{
  margin: 10px;
  font-size: 12px;
}

.btn-comprar{
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  width: 150px;
  color: white;
  background: #3F51B5;
}
.btn-comprar:hover{ 
  color: #3F51B5;;
  background: white;
}
.mat-card-action{
  text-align: center;
}
 