<mat-card>
    <mat-card-header>
                <mat-card-title> {{sucursal.nombre | uppercase}} </mat-card-title>
                <mat-card-subtitle><strong>{{sucursal.descripcion}}</strong></mat-card-subtitle>
    </mat-card-header>
    <div class="crop-imagen">
        <img [src]="sucursal.logo">
   </div> 
    <mat-card-content>
            <mat-card-subtitle><mat-icon>local_phone</mat-icon> {{sucursal.contacto}}</mat-card-subtitle>

    </mat-card-content>
    <mat-card-actions>
        <div class="example-button-row">
           <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon" matBadge="{{sucursal.meGusta}}" (click)="meGusta()">
                <mat-icon >thumb_up</mat-icon>
           </button>
            <button mat-stroked-button color="primary" [routerLink]="['/productosbysurcursal',sucursal.id]">Productos</button>
        </div>
    </mat-card-actions>
</mat-card>
 