.example-button-row button,
.example-button-row a {
  margin-right: 30px;
}
.crop-imagen {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%; 
}
}
.mat-card-title {
  font-size: 100%;
 }
 